/* navbar */

.navbar a {
  color: dodgerblue;
  font-style: normal;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a:hover {
  color: black;
  font-style: normal;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar .dropdown button {
  color: white;
  background-color: dodgerblue;
}

.navbar .dropdown button:hover {
  color: white;
  background-color: black;
}

/* navbar */
/* ----------------------------------------------------------------------------------- */

/* home */

.home {
  background-color: black;
}

.img {
  font-size: small;
}

.home-text h1 {
  color: dodgerblue;
}

.home h2 {
  color: aliceblue;
}

.home p {
  color: aliceblue;
}

.social-links a {
  font-size: 35px;
  color: aquamarine;
}

.social-links .contate {
  font-size: 17px;
  color: dodgerblue;
  font-weight: 600;
  text-decoration: none;
}

.social-links h4 {
  font-size: 25px;
  color: black;
}

.social-links .whatsapp:hover {
  font-size: 40px;
  color: green;
}

.social-links .github:hover {
  font-size: 40px;
  color: cornflowerblue;
}

.social-links .gmail:hover {
  font-size: 40px;
  color: cornflowerblue;
}

.social-links .linkedin:hover {
  font-size: 40px;
  color: cornflowerblue;
}

/* home */

/* ----------------------------------------------------------------------------------- */

/* about */

.about {
  background-color: black;
}

.about h2 {
  color: white;
}

.about h2:hover {
  color: aquamarine;
}

.about h3 {
  color: dodgerblue;
}

.about h3:hover {
  color: aquamarine;
}

.about p {
  color: aliceblue;
}

.about-text-cv {
  -webkit-box-shadow: 9px 7px 21px -12px rgba(33, 140, 255, 1);
  -moz-box-shadow: 9px 7px 21px -12px rgba(33, 140, 255, 1);
  box-shadow: 9px 7px 21px -12px rgba(33, 140, 255, 1);

  border-radius: 10px;
}

.about .btn {
  color: aquamarine;
  background-image: linear-gradient(to right, dodgerblue, purple);
  color: white;
}

.about .btn:hover {
  color: aquamarine;
  background-image: linear-gradient(to right, purple, dodgerblue);
  color: white;
}

.skill-item h3 {
  color: aliceblue;
}

/* about */

/* ----------------------------------------------------------------------------------- */

/* experience */

.experience {
  background-color: black;
}

.experience h2 {
  color: white;
}

.experience h2:hover {
  color: aquamarine;
}

.about-text-cv {
  background-color: white;
}

.experience h3 {
  color: dodgerblue;
  font-size: medium;
}

.experience h4 {
  color: cornflowerblue;
  font-size: small;
}

.experience p {
  color: black;
  font-size: smaller;
}
/* experience */

/* ----------------------------------------------------------------------------------- */

/* footer */
.footer {
  background-color: black;
  color: aliceblue;
}

.footer h5 {
  font-weight: 100;
  font-size: medium;
}
/* footer */

/* ----------------------------------------------------------------------------------- */
